.navbar{
    border: 2px solid red;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar div img{
    height: 50px;
    width: 150px;
    margin: 0px;
}
.navbar div ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    border: 2px solid;
    width: 100%;
    justify-content: space-around;
    gap: 20px;
}
.navbar .nav-button{
    display: flex;
    gap: 20px;
}