/* //! Styling for Create.jsx */
.create-form{
    border: 1px solid rgb(226, 225, 225);
    width: 25%;
    margin: auto;
    background-color: #f8f9fa;
    border-radius: 2rem;
    padding: 1rem;
}
.create-form .form-control{
    width: 90%;
    margin: auto;
    text-align:left;
    height: 3rem;
}
.take-gender{
    /* border: 2px solid; */
    padding-top: 0.3rem;
    display: flex;
    gap: 0.3rem;
    width: 90%;
    margin: auto;
    /* margin-top: 0.5rem; */
    margin-bottom: 0px;
    padding-left: 0.5rem;
}
.create-form .form-label{
    /* border: 2px solid red; */
    width: 5rem;
    margin-right: 65%;
    text-align:left;
    color: black;
}
.create-form p{
    /* border: 2px solid; */
    margin: 0px;
    text-align: left;
    width: 90%;
    margin: auto;
    padding-left: 0.7rem;
}
@media (max-width:1262px){
    .create-form{
        width: 50%;
    }
}

/* //! styling for read */
.user-card{
    border: none !important;
    width: 60% !important;
}
.card-body{
    border: 0.5px solid #ccdbeb;
    border-radius: 1rem;
    width: 50%;
    margin: auto;
    background-color: #fafcfd;
}
.three-button{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.4rem;
}
.three-button button{
    background-color: rgba(39, 174, 252, 0.473);
    color: white;
    width: 4rem;
    border: none;
}
.true-drop{
    /* border: 2px solid red; */
    margin-top: 5.5rem;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none; /* Removes the default appearance */
  margin: 0; /*Ensures no extra space is left*/
}