*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
section{
  /* border: 2px solid red; */
  /* text-align: center; */
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section form label{
  /* border: 2px solid; */
  display: inline-block;
  width: 90px;
}