@import url('https://fonts.googleapis.com/css2?family=Playwrite+DK+Loopet&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wdth,wght@1,83.5,576&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 556; */
  /* font-style: italic; */
  font-family:sans-serif;
}