.popover{
  border: 2px solid;
  position: relative;
  width: fit-content;
  margin: auto;
  margin-top: 100px;
}

.popover .content{
  position: absolute;
  top: 20px;
  left: 0px;
  border: 2px solid;
  padding: 10px;
  border-radius: 10px;
  background-color: #db1515;
  color: white;
  font-weight: 600;
  /* opacity: 0; */
  pointer-events: none;
}

.content-hidden{
  opacity: 0;
}