.home-main{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-main-first{
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding-top: 12%;
}