.mainDiv{
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 3rem;
  padding-top: 3rem;
  background: #10182B;
}

/*! Targeted Header Part Of My TAsk */
.mainDiv>div:first-child{
  padding: 25px;
  background: linear-gradient(to right, #2762EB, #D73287);
  border-radius: 1rem;
}
.mainDiv>div:first-child>div:last-child{
  border: 1px solid;
  padding: 15px;
  background:#DF5B9D;
  cursor: pointer;
}

/*! Targeted The Product Part Of My Task */
.mainDiv>div:nth-child(2){
  /* border: 2px solid yellow; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 20px;
}
.mainDiv>div:nth-child(2)>div{
  /* border: 2px solid red; */
  background-color: #263345;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  border-radius: 15px;
}
.mainDiv>div:nth-child(2)>div img{
  /* width: 100%;
  height: 100px; */
  margin: auto;
  height: 200px;
  width: 300px;
  border-radius: 20px;
}
.mainDiv>div:nth-child(2)>div>div button{
  background-color: #475569;
  padding: 3px;
  color: #6c9bf8;
  font-size: 12px;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 500;
}

/*! Styling the Summary Part Of My Task */
.mainDiv>div:last-child{
  /* border: 2px solid red; */
  padding-left: 20px;
  padding-right: 15px;
  color: white;
}
.mainDiv>div:last-child table{
  border: 2px solid green;
  width: 100%;
}