.mainchip{
  border: 2px solid #FBF4FC;
  margin: 0px;
  background-color: #FBF4FC;
  height: 100vh;
}
.chiplist{
  /* border: 2px solid red; */
  width: 30%;
  margin: auto;
  padding: 30px;
  background-color: white;
  border-radius: 20px;
}
.inputbutton{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  border: 2px solid red;
  width: 100%;
  margin: auto;
}
.inputbutton input{
  width: 100%;
}
.inputbutton button{
  width: 20%;
}
.chiponediv{
  border: 2px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  height: 40px;
  gap: 12px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15px;
  /* margin: auto; */
  margin-top: 10px;
}
.chipcontainer{
  border: 2px solid red;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* align-items: flex-start; */
  gap: 5px;
}